<%= render "shared_form/navbar" %>
<div class="container mb-5" style="margin-top: 100px">
  <%= render "shared_error/flash_error" %>
    <div class="card mt-3 shadow border-light">
      <div class="card-header shadow-sm border-light bg-light">
        <div class="row">
          <div class="col-10">
            <h5 class="card-title mt-3" style="color:darkorange;"><%= @post.user.email %></h5>
            <%= content_tag :div, @post.created_at.to_s(:long), class: "badge bg-light text-dark shadow-sm" %>&nbsp;<%= content_tag :div, @post.genre.humanize, class: "badge bg-secondary shadow-sm" %>
          </div>
          <div class="col">
            <%= link_to  posts_path, class: "nav-link" do %>
              <h6 class="d-flex justify-content-end">X</h6>
            <% end %>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text mt-3 mb-3"><b></b> <%= @post.content %></p>
        <% if @post.image? %>
          <div class="overflow-hidden" style="width: 100%; aspect-ratio: 2/1">
            <%= image_tag @post.image.url, style: "object-fit: cover" %>
          </div>
        <% end %>
      </div>
      <div class="card-footer text-muted">
        <%= link_to  new_post_comment_path, class: "nav-link" do %>
        <div class="form-outline mb-4 text-center">
          <%= text_field_tag :p, nil, placeholder: "Write a comment...", readonly: :true, class: "form-control shadow-sm border-light" %>
        </div>
        <% end %>
      </div>
    </div>
</div>