<%= render "shared_form/navbar" %>
<div class="container justify-content-center" style="margin-top: 100px; margin-bottom: 100px; width: 75%;">
  <%= render "shared_error/flash_error" %>
  <div class="card shadow border-light bg-light ">
    <div class="rounded-start">
      <%= image_tag @group.image.url, class: "img-thumbnail shadow-sm border-light", style: "width: 100%; height:100%" %>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-light shadow-sm" style="font-size: min( 1vw, 15px)">
      <%= link_to groups_path, class: "nav-link" do %>
          <i class="fa-solid fa-chevron-left"></i>
        <% end %>
      </span>
    </div>
    <div class="card-body" style="background-color: #e4ede4">
      <div class="row">
        <div class="col-sm-4">
          <h1 style="font-size: min( 3vw, 25px)"><b><%= @group.name %></b></h1>
          <p style="font-size: min( 1.5vw, 13px)"><b><%= @group.privacy.humanize %></b></p>
        </div>
        <div class="col-sm-8">
          <div class="d-flex justify-content-end mt-2">
            <%= link_to "Posts", group_path(records: 'post'), class: "btn btn-light btn-sm mt-2 px-2 shadow-sm mx-2", style: "width: 130px; font-size: min( 1.5vw, 15px)" %>
            <%= link_to "#{JoinGroup.pending.where(group: @group).size} Approval", group_path(records: 'approvals'), class: "btn btn-light btn-sm mt-2 px-2 shadow-sm mx-2", style: "width: 130px; font-size: min( 1.5vw, 15px)" %>
            <%= link_to "#{JoinGroup.approved.where(group: @group).size} Members", group_path(records: 'members'), class: "btn btn-light btn-sm mt-2 px-2 shadow-sm mx-2", style: "width: 130px; font-size: min( 1.5vw, 15px)" %>
            <%= link_to "Assign Role", group_path(records: 'assign_role'), class: "btn btn-light btn-sm mt-2 px-2 shadow-sm mx-2", style: "width: 130px; font-size: min( 1.5vw, 15px)" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% @approvals&.each do |approval| %>
    <div class="card mt-3 shadow">
      <div class="card-body" style="background-color: #e4ede4">
        <div class="row">
          <div class="col-10">
            <h3 style="font-size: min( 2vw, 20px)"><b><%= approval.user.email %></b></h3>
            <%= content_tag :div, approval.created_at.to_s(:long), class: "badge bg-light text-dark shadow-sm", style:"font-size: min( 1vw, 10px)"%>
          </div>
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <%= link_to "Approve", join_group_approve_path(approval, @group), data: { confirm: 'Are you sure you want to approve this user?' }, class: "btn btn-light btn-sm px-2 shadow-sm mt-2", method: :put if approval.may_approve? %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% @members&.each do |member| %>
    <div class="card mt-3 shadow">
      <div class="card-body" style="background-color: #e4ede4">
        <div class="row">
          <div class="col-10">
            <h3 style="font-size: min( 2vw, 20px)"><b><%= member.user.email %></b></h3>
            <%= content_tag :div, member.created_at.to_s(:long), class: "badge bg-light text-dark shadow-sm", style:"font-size: min( 1vw, 10px)"%>
          </div>
          <div class="col-2">
            <div class="d-flex justify-content-end">
              <%= link_to "Remove", join_group_remove_path(member, @group), data: { confirm: 'Are you sure you want to approve this user?' }, class: "btn btn-light btn-sm px-2 shadow-sm mt-2", method: :put if member.may_remove? %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>